<section class="content-header">
    <h1>
        Cập nhật sản phẩm {{product.Name}}
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a>
        </li>
        <li>
            <a href="#">Sản phẩm</a>
        </li>
        <li>
            <a ui-sref="products">Danh sách</a>
        </li>
        <li class="active">Cập nhật</li>
    </ol>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Cập nhật</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmEditProduct" role="form" ng-submit="updateProduct()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" required ng-maxlength="256" ng-model="product.Name" ng-change="GetSeoTitle()">
                        <span ng-show="frmEditProduct.name.$invalid" class="has-error">Phải nhập tên sản phẩm</span>
                        <span ng-show="frmEditProduct.name.$error.maxlength" class="has-error">Tên sản phẩm chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="alias" required ng-maxlength="256" ng-model="product.Alias">
                        <span ng-show="frmEditProduct.alias.$invalid" class="has-error">Phải nhập tiêu đề SEO</span>
                        <span ng-show="frmEditProduct.alias.$error.maxlength" class="has-error">Tiêu đề SEO chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-model="product.Description" ng-maxlength="500">
                        <span ng-show="frmEditProduct.description.$error.maxlength" class="has-error">Mô tả chỉ được 500 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Danh mục</label>
                    <div class="col-sm-10">
                        <select name="parentID" class="form-control" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">Chọn danh mục</option>
                        </select>
                        <input type="hidden" name="parentId" ng-model="product.CategoryID" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Bảo hành</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="warranty" ng-model="product.Warranty" required> (tháng)
                        <span ng-show="frmEditProduct.warranty.$invalid" class="has-error">Phải nhập bảo hành</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Giá</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="price" ng-model="product.Price" required>
                        <span ng-show="frmEditProduct.price.$invalid" class="has-error">Phải nhập giá</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Giá KM</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="promotionPrice" ng-model="product.PromotionPrice" required>
                        <span ng-show="frmEditProduct.promotionPrice.$invalid" class="has-error">Phải nhập giá KM</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="image" ng-model="product.Image" ng-maxlength="256">
                        <button type="button" class="btn btn-success" ng-click="chooseImage()">Chọn ảnh</button>
                        <span ng-show="frmAddProduct.image.$error.maxlength" class="has-error">Hình ảnh chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="tags" ng-model="product.Tags">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mô tả sản phẩm</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="content" ng-model="product.Content" ckeditor="ckeditorOptions"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Meta Keyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="metaKeyword" ng-model="product.MetaKeyword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Meta Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="metaKeyword" ng-model="product.MetaDescription"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="product.Status" ng-checked="product.Status"> Kích hoạt
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="homeFlag" ng-model="product.HomeFlag" ng-checked="product.HomeFlag"> Hiển thị trang chủ
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="hotFlag" ng-model="product.HotFlag" ng-checked="product.HotFlag"> SP Hot
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button ui-sref="products" class="btn btn-default">Huỷ</button>
                    <button type="submit" class="btn btn-success pull-right" ng-disabled="frmEditProduct.$invalid">Lưu</button>
                </div>
                <!-- /.box-footer -->
            </div>
        </form>
    </div>
    <!-- /.box -->
</section>