<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="10" />
  <add key="MaxPage" value="5" />

  <add key="SMTPHost" value="smtp.gmail.com" />
  <add key="SMTPPort" value="587" />
  <add key="FromEmailAddress" value="tonnystark0003@gmail.com" />
  <add key="FromEmailPassword" value="x" />
  <add key="FromName" value="UNI" />
  <add key="AdminEmail" value="unicor@gmail.com" />
  <add key="CurrentLink" value="http://localhost:11673/" />
  <add key="EnableBundles" value="false"/>
  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value=""/>
  <add key="MerchantPassword" value=""/>
  <add key="MerchantEmail" value="thachmuni1996@gmail.com"/>
  
</appSettings>
