
@{
    ViewBag.Title = "Huỷ đơn hàng";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="single_top">
    <div class="single_grid">
        <h1>Huỷ đơn hàng thành công</h1>
        <p>Đơn hàng đã được huỷ bỏ. Vui lòng click vào <a href="/">đây</a> để về trang chủ</p>
        <div class="clearfix"> </div>
    </div>
</div>

